@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;1,400&family=Open+Sans:ital,wght@1,500&family=Poppins:ital,wght@0,200;0,300;1,200;1,300&family=Roboto+Slab:wght@100;200;300;400&family=Shantell+Sans:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif ;
}
body, .wrapper, .content {
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    min-height: 100vh;
    background:#4a98f7;
}
.wrapper{
    width:800px ;
    background: #fff;
    border-radius: 20px;
    flex-direction: column;
    padding: 30PX 30PX 38PX;
}
.wrapper img{
    max-width: 500px;

}
.wrapper h1{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0;
}
.wrapper .content{
    width: 100%;
   justify-content: space-between;
}
.wrapper .content .disable {
    opacity: 0.6;
}
.content .column{
    border-radius: 5px;
    padding: 0 10px;
    border: 1px solid #999;
    width: calc(100% / 3 - 5px);
}
.column select {
    outline: none;
    border: none;
    height: 53px;
    width: 100%;
    font-size: 19px;
}
.wrapper button {
    width: 100%;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    margin-top: 20px;
    font-size: 20px;
    padding: 17px 0;
    border-radius: 5px;
    background: #4a98f7;
}